html, body, .mblView
  height: 100%
  width: 100%
  padding: 0
  margin: 0

#mapView
  #header
    div
      float: right
  .mapContainer
    #map
      position: relative
      width: 100%
      height: 100%

#aboutView
  p
    padding: 5px


